div {
  display: block;
}
div.base {
  background-color: #006A4E;
  width: 100vw;
  height: 60vw;
  position: absolute;
  left: 0;
  top: 0;
}
div .circle {
  position: absolute;
  background-color: #F42A41;
  width: 40vw;
  height: 40vw;
  left: 25vw;
  top: 10vw;
  border-radius: 100vw;
}
