div {
  display: block;
}
div.base {
  background-color: #006A4E;
  width: 10em;
  height: 6em;
  position: absolute;
  left: 0;
  top: 0;
}
div .circle {
  position: absolute;
  background-color: #F42A41;
  width: 4em;
  height: 4em;
  left: 25vw;
  top: 1em;
  border-radius: 10em;
}
